:root{
    --green-color: #003900
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    margin: auto;
}

header{
    z-index: 20;
}

main{
    font-size: 18px;
    z-index: 1;
}

.flexOne{   flex: 1;    }
.flexFive{   flex: 5;    }
.flexSix{   flex: 6;    }

.titrePage{
    padding: 2% 0;
}

.titrePage div{
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: var(--green-color);
    font-size: 40px;
}
