<div class="header">
    <div class="flexOne">
        <a>
            <img src="{{ asset('img/logo/logo-fcp.png') }}" alt="">
        </a>
    </div>
    <div class="flexSix">
        <div>
            <a href="">
                Club
            </a>
        </div>
        <div>
            <a href="">
                Équipes
            </a>
        </div>
        <div>
            <a href="">
                Actualités
            </a>
        </div>
        <div>
            <a href="">
                Contact
            </a>
        </div>
    </div>
    <div class="flexOne">
        <a href="">
            Connexion
        </a>
    </div>
</div>